
# Habilitar el motor de reescritura
RewriteEngine On

# Si el archivo o directorio solicitado existe, servirlo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# De lo contrario, redirigir todas las solicitudes a index.html
RewriteRule ^(.*)$ /index.html [L]
